*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: aliceblue;
}
body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
.container{
    position: relative;
}
.clock{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border: 2px solid;
    box-shadow: 0 0 25px;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg*var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
    font-size: large;
}
.clock::before{
    content: '';
    height: 8px;
    width:8px;
    border-radius: 50%;
    background-color: aliceblue;
    z-index: 2;
    position: absolute;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    height: var(--h);
    width: 8px;
    background-color: var(--clr);
    border-radius: 8px;
}